#parent1{
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   height: 50px;
   align-items: center;
   
}

.logo{
    display: flex;
    gap: 5px;
    margin-left:00px;
    align-items: center;
    
}

div a{
      text-decoration: solid;
      color: black;
     

}

.nav{
   gap: 40px; 
   display: flex;
   align-items: center;
   

}

#fram1{
      display: flex;
       justify-content: space-evenly;
       align-items: center;
       margin-bottom: 90px;
       margin-left: 250px;
}
.pa{
      justify-content: center;
      align-items: center;
      display: flex;
      text-align: center; 
      margin-bottom: 70px;    
}
#item1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2px;
    
}

.box{
 
 border-radius: 10px;
 align-items: center;
}

#item2{
     display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2px;
}


#item4{

    display: flex;
    justify-content: center;
    align-items: center;
   gap: 150px;
   margin-bottom: 200px;
}

#item5{

display: flex;
    justify-content: center;
    align-items: center;
   gap: 150px;
   margin-bottom: 90px;


}

#item6{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer{
  background-color: #041917;
  height: 380px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
 
}

li{
    color: white;
    text-decoration: solid;
    
}
